{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/yoga.png' %}">
    <title>YOGA | BLOG</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
            <img class="logo" src="{% static 'images/yoga.png' %}" alt="reload" >
            <h1 class="heading">Are U Concerned Of Ur Health?❤️‍🩹🧠...</h1>
            <a href="{% url 'user_signin' %}"><h1>AVYA</h1></a>
    </div>
    <hr class="underline">
    <h1 class="subtle">Have a Look At It!🙂</h1>
    <div class="body1">
        <nav>
            <img src="{% static 'images/Meditate.jpg' %}" alt="" height="500px" width="500px">
        </nav>
        <nav>
            <h1 class="nav-heading"><u>Meditation (Dhyana</u>)</h1>
            <p>Meditation is practiced in numerous religious traditions. The earliest records of meditation (dhyana) are found in the Upanishads, and meditation plays a salient role in the contemplative repertoire of Jainism, Buddhism and Hinduism. Yoga’s incorporation of meditation and breathing can help improve a person’s mental well-being. When you meditate, you may clear away the information overload that builds up every day and contributes to your stress.The emotional and physical benefits of meditation can include: Gaining a new perspective on stressful situations, Building skills to manage your stress, Increasing self-awareness, Focusing on the present, Reducing negative emotions, Increasing imagination and creativity, Increasing, patience and tolerance, Lowering resting heart rate, Lowering resting blood pressure, Improving sleep quality. There are nine popular types of meditation practice:
                mindfulness meditation, spiritual meditation, focused meditation, movement meditation, mantra meditation, transcendental meditation, progressive relaxation, loving-kindness meditation, visualization meditation. The easiest way to begin is to sit quietly and focus on your breath. You should sit in meditation for 20 minutes every day — unless you’re too busy. Then you should sit for an hour. All kidding aside, it’s best to start in small increments of time, even 5 or 10 minutes, and grow from there. Sit consistently for 20 minutes a day and do this for 100 days straight, Couple that with an additional 2 to 5 minutes of meditation throughout the day to break up the chaos, and you will soon be feeling the benefits.</p>
        </nav>
    </div>
    <div class="body2">
        <nav>
            <h1 class="nav-heading"><u>Yoga (Aasana</u>)</h1>
            <p>Yoga is a group of physical, mental, and spiritual practices or disciplines which originated in ancient India and aim to control and still the mind, recognizing a detached witness-consciousness untouched by the mind (Chitta) and mundane suffering (Duḥkha). The relaxation techniques incorporated in yoga can lessen chronic pain, such as lower back pain, arthritis, headaches and carpal tunnel syndrome, Yoga can also lower blood pressure and reduce insomnia.
                Physical benefits: increased flexibility, muscle strength and tone, improved respiration, energy and vitality, maintaining a balanced metabolism, weight reduction, cardio and circulatory health, improved athletic performance, protection from injury.
                Yoga Can Support the Immune System and Improve Overall Health. 
                Mental benefits: helps a person manage stress, including back or neck pain, sleeping problems, headaches, drug abuse, and an inability to concentrate. Yoga can be very effective in developing coping skills and reaching a more positive outlook on life.</p>
        </nav>
        <nav>
            <img src="{% static 'images/aasana.png' %}" alt="" height="500px" width="500px">
        </nav>        
    </div>
    <div class="body1">
        <nav>
            <img class="mind" src="{% static 'images/Mindfulness.png' %}" alt="" height="500px" width="500px">
        </nav>
        <nav>
            <h1 class="nav-heading"><u>Mindfulness (Smṛti</u>)</h1>
            <p>Mindfulness can be formal or informal. Mindfulness as an informal practice is when we choose to pay close attention to what is occurring in the present moment while doing routine activities. It could be something simple like focusing on the feeling of the soles of your feet touching the ground while standing. You can practice it while eating, walking or cleaning your teeth. For example, practising mindfulness when eating means not just knowing that you are eating but being with the whole process – feeling the taste, the texture of the food changing, how you chew, what emotions or thoughts arise and how they change.
                On the other hand, formal mindfulness practice is more intensive. Here, we specifically set aside time to explore being mindful of what we are sensing, feeling or thinking. An example of this is mindfulness meditation. It helps us look into our minds at a deeper level and with regular practise can yield deeper insights into our mind.</p>
        </nav>
    </div>
    <div class="body2">
        <nav>
            <h1 class="nav-heading"><u>Healthiness (Swastha</u>)</h1>
            <p>Yoga offers physical and mental health benefits for people of all ages. And, if you’re going through an illness, recovering from surgery or living with a chronic condition, yoga can become an integral part of your treatment and potentially hasten healing. 
                A yoga therapist can work with patients and put together individualized plans that work together with their medical and surgical therapies. That way, yoga can support the healing process and help the person experience symptoms with more centeredness and less distress.<br>
                1. Yoga improves strength, balance and flexibility.
                Slow movements and deep breathing increase blood flow and warm up muscles, while holding a pose can build strength.
                <br>2. Yoga helps with back pain relief.
                Yoga is as good as basic stretching for easing pain and improving mobility in people with lower back pain. The American College of Physicians recommends yoga as a first-line treatment for chronic low back pain.
                <br>3. Yoga can ease arthritis symptoms.
                Gentle yoga has been shown to ease some of the discomfort of tender, swollen joints for people with arthritis.
                <br>4. Yoga benefits heart health.
                Regular yoga practice may reduce levels of stress and body-wide inflammation, contributing to healthier hearts. Several of the factors contributing to heart disease, including high blood pressure and excess weight, can also be addressed through yoga.
                <br>5. Yoga relaxes you, to help you sleep better.
                Research shows that a consistent bedtime yoga routine can help you get in the right mindset and prepare your body to fall asleep and stay asleep.
                <br>6. Yoga can mean more energy and brighter moods.
                You may feel increased mental and physical energy, a boost in alertness and enthusiasm, and fewer negative feelings after getting into a routine of practicing yoga.
                <br>7. Yoga helps you manage stress. 
                According to the National Institutes of Health, scientific evidence shows that yoga supports stress management, mental health, mindfulness, healthy eating, weight loss and quality sleep.
                <br>8. Yoga connects you with a supportive community. 
                Participating in yoga classes can ease loneliness and provide an environment for group healing and support. Even during one-on-one sessions loneliness is reduced as one is acknowledged as a unique individual, being listened to and participating in the creation of a personalized yoga plan.
                <br>9. Yoga promotes better self-care. 
                Scientific Research on Yoga Benefits 
                The U.S. military, the National Institutes of Health and other large organizations are listening to — and incorporating — scientific validation of yoga’s value in health care.
                Numerous studies show yoga’s benefits in arthritis, osteopenia, balance issues, oncology, women’s health, chronic pain and other specialties.</p>
        </nav>
        <nav>
            <img src="{% static 'images/yoga.png' %}" alt="" height="500px" width="500px">
        </nav>        
    </div>
    <div class="body1">
        <nav>
            <img src="{% static 'images/yoga.png' %}" alt="" height="500px" width="500px">
        </nav>
        <nav>
            <h1 class="nav-heading"><u>Peaceful (Sāntih</u>)</h1>
            <p>1. Yoga Can Decrease Stress
                One of the primary reasons many yoga fanatics are initially drawn to the practice is for the stress-relieving benefits of yoga. In fact, most people cite feeling immediate stress relief after even just a few yoga poses or a single session of yoga. Yoga decreases the production of cortisol, a key stress hormone, and increases mindfulness and a sense of inner peace, both of which alleviate stress and help you feel calmer.
                <br> 2. Yoga Can Help Manage Anxiety
                While it’s not entirely clear exactly how yoga can help people manage anxiety, there’s quite an extensive body of research demonstrating the ability of a consistent yoga practice to reduce anxiety and even symptoms of PTSD. The emphasis on mindfulness, being present, and honing in on the awareness of your breath may contribute to finding a sense of peace.
                <br>3. Yoga Can Improve Your Mood and Mitigate Depression
                Any form of exercise can produce endorphins and increase mood. Yoga has been studied extensively, and seems particularly effective at alleviating depression, and improving outlook and overall sense of wellbeing. The anti-depressant effect of yoga is due to the fact that yoga decreases the level of cortisol in the body, which is a stress hormone that can inhibit levels of serotonin. Serotonin is a neurotransmitter that elevates mood and improves your sense of wellbeing, so by lowering cortisol, yoga enables the body to produce more serotonin to feel better.</p>
        </nav>
    </div>
    <div class="body2">
        <nav>
            <h1 class="nav-heading"><u>Flexibility (Prasrabhi</u>)</h1>
            <p> Yoga Increases Flexibility and Balance of the Body and Mind
                Flexibility and balance in yoga extend beyond the physical poses and positions of your body on the mat. Yoga emphasizes flexibility and balance of the mind as well, teaching you to be more open-minded, adaptable, present, gentle on yourself, and emotionally open and connected. This may sound somewhat airy-fairy, but many people who take up yoga report that while they initially felt somewhat turned off or intimidated by the spiritual/emotional side of yoga, they now appreciate that aspect of the discipline nearly as much (if not more) than the physical work itself.
                <br> Yoga Increases Mobility
                We tend to lose mobility of our joints and muscles as we age. The flexibility work in yoga helps prevent this decline and keeps us feeling more youthful. Yoga poses increase the range of motion of joints, improve spinal mobility and flexibility, and reduce pain associated with stiffness.</p>
        </nav>
        <nav>
            <img src="{% static 'images/yoga.png' %}" alt="" height="500px" width="500px">
        </nav>        
    </div>
    <div>
        <img src="{% static 'images/giffy2.gif' %}"  class="gif" alt="gif">
      <!-- <video  loop autoplay  muted src="../giffy.gif"></video> -->
        </div>
</body>
</html>